@import 'tailwindcss';

@layer base {
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  html,
  body {
    height: 100%;
  }

  body {
    @apply text-neutral-550;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
  }

  ::placeholder {
    @apply text-neutral-350;
  }
}
